{templateType App\Core\Settings\Factory\SettingsTemplate}
{embed '../../Widget/@form.latte', class: 'ajax', name: 'settings', najaHistory: 'off'}
    {block form}
        {foreach $inputsSettings as $name => $value}
            {include input, name: $name, columns: 12}
        {/foreach}
        <div class="d-block">
            {include submit, name: 'save'}
        </div>
    {/block}
{/embed}
