{templateType App\UI\Backend\Settings\SettingsTemplate}
{block title}{_'Website settings'}{/block}
{block content}
	{embed ../../../Core/Widget/@content.latte}
		{block content}
			<h5 n:block="title" class="border-bottom pb-2">{_'Website settings'}</h5>
			{embed '../../../Core/Widget/@form.latte', name: 'settings'}
				{block form}
					{foreach $inputsSettings as $name => $value}
						{include input, name: $name, columns: 6}
					{/foreach}
					<div class="d-block">
						{include submit, name: 'save'}
					</div>
				{/block}
			{/embed}
		{/block}
	{/embed}
{/block}
