{templateType App\UI\Backend\Settings\SettingsTemplate}
{embed '../../Widget/@form.latte', name: 'settings', najaHistory: 'off'}
    {block form}
        {foreach $inputsSettings as $name => $value}
            {include input, name: $name, columns: 6}
        {/foreach}
        <div class="d-block">
            {include submit, name: 'save'}
        </div>
    {/block}
{/embed}
